//< " ФАЙЛ СТИЛЕЙ ФУТЕРА " >=============================================================================================================>//

.footer{
  background: #5224B5;

  &__body{
    @include adaptiv-value(padding-top, 87, 20, 1);
    @include adaptiv-value(padding-bottom, 100, 20, 1);
    @include adaptiv-value-width(row-gap, 20, 10, 992, 1);
    // @include media-breakpoint-down(lg) { 
    //   flex-direction: column;
    // }
    flex-wrap:wrap;
  }

  &__left{
    @include adaptiv-value(row-gap, 30, 10, 1);
  }
  &__description{
    max-width: 200px;
    color: #fff;
    @include adaptiv-font(15, 12);
    @include adaptiv-line-height(24, 18);
  }

  &__right{
    @include adaptiv-value(column-gap, 120, 0, 1);
    flex-wrap:wrap;
    row-gap: 15px;

    @include media-breakpoint-down(sm) { 
      flex-direction: column;
     }
    @media (max-width: 868px){
      width: 100%;
    }
  }

  &__nav{
    @include adaptiv-value(column-gap, 93, 10, 1);
    row-gap: 20px;

     @media (max-width: 400px){
      flex-direction: column;
     }
  }

  &__title{
    color: #fff;
    @include adaptiv-font(18, 16);
    font-weight: 800;
    @include adaptiv-line-height(28, 21);
    @include adaptiv-value(margin-bottom, 16, 8, 1);
    letter-spacing: 0.36px;
  }

  &__links{
    @include adaptiv-value(row-gap, 12, 6, 1);
  }
  &__link{
    color: #fff;
    @include adaptiv-font(15, 12);
    @include adaptiv-line-height(24, 16);
    letter-spacing: 0.3px;
    @media (any-hover:hover){
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover{
        color: #FE8235;
      }
    }
  }

  &__networks{
    @include adaptiv-value(column-gap, 16, 8, 1);
    &-title{
      color: #fff;
      @include adaptiv-font(18, 16);
      font-weight: 800;
      @include adaptiv-line-height(28, 21);
      letter-spacing: 0.36px;
    }

    &-list{
      @include adaptiv-value(column-gap, 14, 7, 1);

      a{
        border-radius: 50%; 
        overflow: hidden;
        @media (any-hover:hover){
          cursor: pointer;
          transition: all 0.3s ease 0s;
          &:hover{
            background: #7FFA8A;
          }
        }
      }
    }
  }
}