.main{
  background:  linear-gradient(180deg, rgba(1, 1, 1, 0.00) 0%, #5224B5 80%), url("../img/main/bg.png") 0 0/100% auto no-repeat,;
  &__body{
    @include adaptiv-value(padding-top, 604, 200, 1);
    @include adaptiv-value(padding-bottom, 72, 30, 1);
    @include adaptiv-value(gap, 20, 10, 1);
  }
  &__title{
    color: #fff;
    @include adaptiv-font(80, 22);
    font-weight: 800;
    line-height: 120%; /* 96px */
    @include adaptiv-line-height(96, 25);
    letter-spacing: 0.8px;
    text-transform: uppercase;
    @include adaptiv-value(margin-bottom, 16, 8, 1);
    white-space: pre-line;
  }
  &__text{
    color: #fff;
    @include adaptiv-font(24, 18);
    font-style: normal;
    font-weight: 400;
    @include adaptiv-line-height(38, 20);
  }

  &__right{
    @include adaptiv-value(row-gap, 20, 10, 1);
    @include adaptiv-value(margin-bottom, 24, 0, 1);
    max-width: 260px;
    
    button{
      max-height: 69px;
    }
  }

  @media (max-width: 400px){
    &__right{
      width: 100%;
      align-items: center;
      max-width: 100%;

      button{
        width: 100%;
        max-width: 100%;
      }
    }
  }
}