.market{
  @include adaptiv-value(padding-bottom, 84, 20, 1);

  &__top{
    @include adaptiv-value(padding-bottom, 64, 20, 1);
    column-gap: 15px;
  }
  &__nav{
    @include adaptiv-value(gap, 16, 10, 1);
    gap: 8px;
    padding-left: 0;
    margin: 0;
    width: 100%;
    overflow: auto;

    li{
      display: flex;
      align-items: center;
      background: #252525;
      @include adaptiv-value(padding, 24, 10, 1);
      color: #fff;
      text-align: center;
      @include adaptiv-font(18, 14);
      font-weight: 800;
      letter-spacing: 2.7px;

      @media (any-hover:hover){
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover{
          background: #7FFA8A;
          color: #0A0A0A;
        }
      }

      &._active{
        background: #7FFA8A;
        color: #0A0A0A;
      }
    }
  }

  &__search-icon{
    @include adaptiv-font(32, 25);
    @include adaptiv-value(padding, 24, 10, 1);
    background: #252525;
    color: #F2F2F2;
    max-height: 64px;
    max-width: 64px;

    @media (any-hover:hover){
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover{
        background: #7FFA8A;
        color: #0A0A0A;
      }
    }
  }

  &__result{
    display: none !important;

    &._active{
      display: flex !important;
    }
  }

  .row{
    // @include adaptiv-value(gap, 25, 10, 1);
    width: 100%;
  }
  &__card{
    padding: 0;
    @include adaptiv-value(height, 532, 400, 1);
    @include adaptiv-value(max-width, 360, 275, 1);
    position: relative;
    transition: all 0.3s ease 0s;
    &-img{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      img{
        width: 100%;
      }
    }
    &-bottom{
      background: #5224B5;
      position: relative;
      z-index: 2;
      @include adaptiv-value(padding, 24, 15, 1);
      @include adaptiv-value(padding-top, 15, 10, 1);
      width: 100%;
      // transform: translate(0, -84px);
      transition: all 0.3s ease 0s;
    }
    &-title{
      color: #fff;
      @include adaptiv-font(20, 16);
      font-weight: 800;
      @include adaptiv-line-height(35, 21);
      letter-spacing: 0.4px;
      @include adaptiv-value(margin-bottom, 8, 5, 1);
    }
    &-price{
      color: #FE8235;
      @include adaptiv-font(24, 16);
      font-weight: 800;
      @include adaptiv-line-height(42, 27);
      letter-spacing: 0.48px;
      @include adaptiv-value(column-gap, 10, 5, 1);
      @include adaptiv-value(margin-bottom, 40, 15, 1);
    }
    &-author{
      @include adaptiv-value(column-gap, 16, 10, 1);
      color: #fff;
      @include adaptiv-font(16, 14);
      font-weight: 800;
      @include adaptiv-line-height(28, 21);
      letter-spacing: 0.32px;
      transition: all 0.3s ease 0s;
      margin-bottom: 0px;

      @include media-breakpoint-down(lg) { 
        margin-bottom: 15px;
       }
    }
    &-buy{
      min-height: auto;
      height: 0;
      padding: 0 !important;
      font-size: 0;
      width: 0;     
      transition: all 0.3s ease 0s;

      @include media-breakpoint-down(lg) { 
        width: 200px;
        height: 42px;
        @include adaptiv-padding(10, 5, 60, 10, 1);
        @include adaptiv-font(22, 13);
      }
    }

    @media (any-hover:hover){
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover{
        & .market__card-bottom{
          // transform: translate(0, -136px);
        }
        & .market__card-author{
          margin-bottom: 10px;
        }
        button{
          width: 200px;
          height: 42px;
          @include adaptiv-padding(10, 5, 60, 10, 1);
          @include adaptiv-font(22, 13);
        }
      }
    }
  }
}

.market__search{
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  transition: all 0.3s ease 0s;

  z-index: -1;
  opacity: 0;

  &._active{
    opacity: 1;
    z-index: 10;
  }
  &-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0;
    left: 0;
  }
  & ._container{
    width: 100%;
  }
  &-body{
    display: flex;
    position: relative;
    z-index: 2;
  }
  input{
    color: #fff;
    padding: 15px 20px;
    @include adaptiv-font(20, 16);
    background: rgba(66, 66, 66, 0.7);
    width: 100%;
    &::placeholder{
      color: #b6b6b6;
    }
  }
  button{
    padding: 10px 20px;
    min-height: auto;
    @include adaptiv-font(25, 20);
  }
}