.steps{
  background: #1A1919;
  @include adaptiv-value(padding-top, 68, 30, 1);
  @include adaptiv-value(padding-bottom, 180, 90, 1);
  @include adaptiv-value-width(padding-bottom, 210, 40, 992, 1);

  &__text{
    color:#fff;
    @include adaptiv-font(32, 20);
    @include adaptiv-line-height(44.8, 25);
  }
  
  &__main{
    @include adaptiv-value(margin-top, 72, 20, 1);
    min-height: 900px;
    @include adaptiv-value(column-gap, 35, 20, 1);

    * {
      padding: 0;
    }

    @include media-breakpoint-down(md) { 
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0;
     }

  }

  &__step{
    max-width: 355px;
    

    &-2{
      margin-top: 65px;
    }
    &-3{
      margin-top: calc(65px * 2);
      &::after{
        content: url("../img/steps/arrow-down.png");
        @include adaptiv-value(margin-left, 37, 10, 1);
        @include adaptiv-value(margin-top, 19, 10, 1);
        display: inline-block;
      }
    }
    &-4{
    }

    &-title{
      color: #7FFA8A;
      @include adaptiv-font(24, 18);
      @include adaptiv-line-height(28, 21);
      @include adaptiv-value(margin-bottom, 16, 8, 1);
      &::after{
        content: url("../img/steps/arrow-right.png");
        display: block;
        position: absolute;
        top: calc(50% + 26.5px);
        transform: translateY(-50%);
        left: calc(100% + 24px);
      }
    }

    &-3, &-4, &-5, &-6{
      & .steps__step-title{
        &::after{
          content: "";
        }
      }
    }

    &-4, &-5{
      & .steps__step-title{
        &::before{
          content: url("../img/steps/arrow-left.png");
          position: absolute;
          right: calc(100% + 40px);
          top: 50%;
        }
      }
    }

    &-5{
      transform: translateY(24%);
    }
    &-6{
      transform: translateY(48%);
    }


    &-body{
      background-color: #5224B5;
      @include adaptiv-value(padding, 24, 15, 1);
      min-height: 264px;

      @include media-breakpoint-down(md) { 
        min-height: auto;
      }
    }

    &-img{
      @include adaptiv-value(margin-bottom, 24, 15, 1);
    }

    &-text{
      color: #fff;
      @include adaptiv-font(24, 18);
      @include adaptiv-line-height(28, 21);
    }

    @media (max-width: 1143px){
      &-1{
        order: 1;
      }
      &-2{
        order: 2;
        & .steps__step-title{
          &::after{
            content: '';
          }
        }

        &::after{
          content: url("../img/steps/arrow-down.png");
          @include adaptiv-value(margin-left, 37, 10, 1);
          @include adaptiv-value(margin-top, 19, 10, 1);
          display: inline-block;
        }
      }
      &-3{
        order: 4;
        margin-top: 0;
        &::after{
          content: "";
          margin: 0;
          display: none;
        }

        & .steps__step-title{
          &::before{
            content: url("../img/steps/arrow-right.png");
            display: inline-block;
            transform: scaleX(-1);
            position: absolute;
            right: calc(100% + 26.5px);
            top: 50%;
          }
        }
      }
      &-4{
        order: 3;
        align-self: flex-end;
        margin-top: 70px;

        & .steps__step-title{
          &::before{
            content: '';
          }
        }
        &::after{
          content: url("../img/steps/arrow-down.png");
          @include adaptiv-value(margin-left, 37, 10, 1);
          @include adaptiv-value(margin-top, 19, 10, 1);
          display: inline-block;
          position: absolute;
        }
      }
      &-5{
        order: 5;

        & .steps__step-title{
          &::before{
            content: '';
          }

          &::after{
            content: url("../img/steps/arrow-right.png");
            display: inline-block;
            position: absolute;
            left: calc(100% + 26.5px);
            top: calc(50% + 26.5px);
            transform: translateY(-50%);
          }
        }
      }
      &-6{
        order: 6;
      }
    }

    @include media-breakpoint-down(md) { 
      &-1,&-2,&-3,&-4,&-5,&-6{
        transform: none;
        margin: 0;

        & .steps__step-title{
          &::after,&::before{
            display: none;
          }
        }


      }

      &-1,&-2,&-3,&-4,&-5{
        &::after{
          content: url("../img/steps/arrow-down.png");
          @include adaptiv-value(margin-left, 37, 10, 1);
          @include adaptiv-value(margin-top, 19, 10, 1);
          display: inline-block;
          position: relative;
        }
      }
      
      &-1{
        order: 1;
      }
      &-2{
        order: 2;
      }
      &-3{
        order: 3;
      }
      &-4{
        order: 4;
        align-self: auto;
      }
      &-5{
        order: 5;
      }
      &-6{
        order: 6;
        transform: none;
      }
     }

  }
}