//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1160;
$containerPadding: 30;

// ЦВЕТА
$colorWhite: #fff;
$colorDark: #222;

// СТАНДАРТНЫЕ НАСТРОЙКИ СТРАНИЦЫ
$colorBg: #0A0A0A;
$fontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontNeue: "Neue Machina";
